body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    width: 90%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.text-section {
    width: 40%;
}
.text-section h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
.text-section p {
    font-size: 18px;
    line-height: 1.6;
}
#visualization-container {
    width: 60%;
    height: auto;
    position: relative;
}
svg {
    width: 200px;
    height: 200px;
    position: absolute;
    overflow: visible;
}
.hover-label {
    position: absolute;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    color: white;
    display: none;
}
.styled-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.styled-button:hover {
    background-color: #0056b3;
}
